$heading: rgb(243, 6, 223);

.onetask {
    width: 300px;
    height: 125px;
    background: seagreen;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    &:hover {
        background: yellow;
    }
    &-notcompleted {
        background: red;
    }
}

.name {
    color: $heading;
}